<p-card>
  <div>
    <div
      class="flex flex-column align-items-center justify-content-center justify-content-center gap-3 py-5 px-5"
    >
      <div class="flex flex-wrap justify-content-center gap-2 flex-column">
        <label class="text-left">Nombre</label>
        <input
          pInputText
          id="name"
          class="p-inputtext w-100"
          aria-describedby="name-help"
          [ngModel]="nombre"
          (ngModelChange)="nombre = $event.toString()"
          placeholder="Ingresa tu nombre real"
          pTooltip="Ingresa tu nombre real"
          tooltipPosition="left"
          [pKeyFilter]="blockChars"
        />
        <p-message
          class="error-message"
          severity="error"
          text="{{ errors.nombre }}"
          *ngIf="errors.nombre"
        ></p-message>
      </div>
      <div class="flex flex-wrap justify-content-center gap-2 flex-column">
        <label class="text-left">Nombre Artístico</label>
        <input
          class="p-inputtext w-100"
          pInputText
          id="nameArtistic"
          aria-describedby="nameArtistic-help"
          [ngModel]="nombreartistico"
          (ngModelChange)="nombreartistico = $event.toString()"
          placeholder="Ingresa tu nombre artístico"
          pTooltip="Ingresa tu nombre artístico"
          tooltipPosition="left"
          [pKeyFilter]="blockChars"
        />
        <p-message
          class="error-message"
          severity="error"
          text="{{ errors.nombreartistico }}"
          *ngIf="errors.nombreartistico"
        ></p-message>
      </div>
      <div
        class="flex flex-wrap justify-content-center align-items-center gap-2 flex-column"
      >
        <label class="w-10">Email</label>
        <input
          class="w-100"
          pInputText
          id="email"
          aria-describedby="email-help"
          [ngModel]="correo"
          (ngModelChange)="correo = $event.toString()"
          placeholder="Ingresa tu email"
          pTooltip="Ingresa tu Correo electrónico"
          tooltipPosition="left"
          [pKeyFilter]="blockChars"
        />
        <p-message
          class="error-message"
          severity="error"
          text="{{ errors.correo }}"
          *ngIf="errors.correo"
        ></p-message>
      </div>
      <div
        class="flex flex-wrap justify-content-center align-items-center gap-2 flex-column"
      >
        <label class="w-9">Contraseña</label>
        <p-password
          class="input-password"
          placeholder="Ingresa una contraseña"
          [ngModel]="contrasena"
          (ngModelChange)="contrasena = $event.toString()"
          [toggleMask]="true"
          [pKeyFilter]="blockChars"
          weakLabel="Débil"
          mediumLabel="Medio"
          strongLabel="Fuerte"
          promptLabel="Ingresa una contraseña"
          [inputStyle]="{ 'padding-right': '0.5rem' }"
        ></p-password>
        <p-message
          class="error-message"
          severity="error"
          text="{{ errors.contrasena }}"
          *ngIf="errors.contrasena"
        ></p-message>
      </div>
      <div
        class="flex flex-wrap justify-content-center align-items-center gap-2 flex-column"
      >
        <label class="w-9">Teléfono</label>
        <p-inputMask
          class="input-phone"
          mask="(999) 999-9999"
          [ngModel]="telefono"
          (ngModelChange)="telefono = $event.toString()"
          placeholder="(999) 999-9999"
          pTooltip="Ingresa tu número de teléfono"
          tooltipPosition="left"
          type="phone"
          [size]="20"
          [pKeyFilter]="blockChars"
        ></p-inputMask>
        <p-message
          class="error-message"
          severity="error"
          text="{{ errors.telefono }}"
          *ngIf="errors.telefono"
        ></p-message>
      </div>
      <div
        class="flex flex-wrap justify-content-center align-items-center gap-2 flex-column"
      >
        <label class="w-9">Biografía</label>
        <textarea
          class="input-biography"
          [ngModel]="biografia"
          (ngModelChange)="biografia = $event.toString()"
          rows="5"
          cols="30"
          maxlength="120"
          pInputTextarea
          [autoResize]="true"
          pTooltip="Ingresa una breve descripción de ti"
          tooltipPosition="left"
          placeholder="Ingresa una breve descripción de ti."
        ></textarea>
        <p-message
          class="error-message"
          severity="error"
          text="{{ errors.biografia }}"
          *ngIf="errors.biografia"
        ></p-message>
      </div>
    </div>
  </div>
  <div class="w-full flex align-items-center gap-2 justify-content-center py-2">
    <p-button
      label="Registrarse"
      icon="pi pi-user-plus"
      styleClass="p-button-success w-10rem"
      (onClick)="register()"
    ></p-button>
  </div>
</p-card>
