footer {
  background-color: #091a32;
  position: absolute;
  width: 100%;
  display: flex;
}

.footer-container {
  display: flex;
  align-items: center;
  padding: 0.25rem 0rem;
  width: 100%;
  justify-content: center;
}
