<app-header></app-header>
<div class="card min-h-screen">
  <p-toast></p-toast>
  <p-toolbar styleClass="mb-2 mt-2 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Eliminar"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedArtistas()"
        [disabled]="!selectedArtist || !selectedArtist.length"
      ></button>
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="artistas"
    [rows]="11"
    [paginator]="true"
    [globalFilterFields]="['nombreartistico', 'biografia']"
    [tableStyle]="{
      'min-width': '75rem',
      'max-height': '500px',
      overflow: 'auto'
    }"
    [(selection)]="selectedArtist"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Gestionar productos</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="nombreartistico" style="min-width: 15rem">
          Nombre artistico <p-sortIcon field="nombreartistico"></p-sortIcon>
        </th>
        <th pSortableColumn="correo" style="min-width: 15rem">
          Correo <p-sortIcon field="correo"></p-sortIcon>
        </th>
        <th pSortableColumn="biografia" style="min-width: 15rem">
          Biografia <p-sortIcon field="biografia"></p-sortIcon>
        </th>
        <th pSortableColumn="telefono" style="min-width: 15rem">
          Telefono <p-sortIcon field="telefono"></p-sortIcon>
        </th>

        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-artista>
      <tr>
        <td>
          <p-tableCheckbox [value]="artista"></p-tableCheckbox>
        </td>
        <td>{{ artista.nombreartistico }}</td>
        <td>{{ artista.correo }}</td>
        <td>{{ artista.biografia }}</td>
        <td>{{ artista.telefono }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editProduct(artista)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteArtist(artista)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between"></div>
    </ng-template>
  </p-table>
</div>
<p-dialog
  [(visible)]="artistDialog"
  [style]="{ width: '450px' }"
  header="Detalles del producto"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Nombre</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="artista.nombre"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !artista.nombre"
        >Name is required.</small
      >
    </div>
    <div class="field">
      <label for="nombreartistico">Nombre artistico</label>
      <input
        type="text"
        pInputText
        id="nombreartistico"
        [(ngModel)]="artista.nombreartistico"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !artista.nombreartistico"
        >Artistic Name is required.</small
      >
    </div>
    <div class="field">
      <label for="correo">Correo</label>
      <input
        class="w-100"
        pInputText
        id="email"
        aria-describedby="email-help"
        [ngModel]="artista.correo"
        (ngModelChange)="artista.correo = $event.toString()"
        placeholder="Ingresa tu email"
        pTooltip="Ingresa tu Correo electrónico"
        tooltipPosition="left"
        [pKeyFilter]="blockChars"
      />
      <small class="p-error" *ngIf="submitted && !artista.correo"
        >Email is required.</small
      >
      <small class="p-error" *ngIf="emailError && artista.correo">{{
        emailError
      }}</small>
    </div>
    <div class="field">
      <label class="w-9">Contraseña</label>
      <p-password
        class="input-password"
        placeholder="Ingresa una contraseña"
        [ngModel]="artista.contrasena"
        (ngModelChange)="artista.contrasena = $event.toString()"
        [toggleMask]="true"
        [pKeyFilter]="blockChars"
        weakLabel="Débil"
        mediumLabel="Medio"
        strongLabel="Fuerte"
        promptLabel="Ingresa una contraseña"
        [inputStyle]="{ 'padding-right': '0.5rem' }"
      ></p-password>
      <small class="p-error" *ngIf="submitted && !artista.contrasena"
        >Password is required.</small
      >
    </div>

    <div class="field">
      <label for="biografia">Biografía</label>
      <input
        type="text"
        pInputText
        id="biografia"
        [(ngModel)]="artista.biografia"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !artista.biografia"
        >Biografy is required.</small
      >
    </div>

    <div class="field">
      <label class="w-9">Teléfono</label>
      <p-inputMask
        class="input-phone"
        mask="(999) 999-9999"
        [ngModel]="artista.telefono"
        (ngModelChange)="artista.telefono = $event.toString()"
        placeholder="(999) 999-9999"
        pTooltip="Ingresa tu número de teléfono"
        tooltipPosition="left"
        type="phone"
        [size]="20"
        [pKeyFilter]="blockChars"
      ></p-inputMask>

      <small class="p-error" *ngIf="phoneError">{{ phoneError }}</small>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveArtist()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog
  [style]="{ width: '450px' }"
  acceptLabel="Si"
></p-confirmDialog>
<app-footer></app-footer>
